.form__input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 2px solid var(--border);
  border-radius: 4px;
  font-size: 14px;
}

.form__input:focus {
  outline: 0;
  border-color: var(--text);
}

.form__input--success {
  border-color: var(--success);
}

.form__input--error {
  border-color: var(--error);
}
