.game {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .game {
    padding-top: 50px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}
