@font-face {
  font-family: 'SourceCodePro-Regular';
  src: url("../fonts/SourceCodePro-Regular.eot");
  src: url("../fonts/SourceCodePro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceCodePro-Regular.woff2") format("woff2"), url("../fonts/SourceCodePro-Regular.woff") format("woff"), url("../fonts/SourceCodePro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html, body {
  height: 100%; }

body {
  font-family: "SourceCodePro-Regular", sans-serif;
  font-size: 62.5%;
  color: #434343;
  display: flex;
  flex-direction: column;
  min-height: 100%; }

body * {
  font-size: 1rem; }

*:focus {
  outline: 0 !important;
  -webkit-outline: 0 !important;
  -moz-outline: 0 !important;
  -ms-outline: 0 !important;
  -o-outline: 0 !important; }

.link {
  text-decoration: none;
  color: #F9A195; }
  .link:hover {
    color: #F9A195;
    text-decoration: none; }
  .link:focus {
    color: #F9A195; }

ul, ol {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 1.8rem; }

.btn {
  margin: 0 0.5rem;
  width: 10rem;
  height: 3rem;
  transition: all 0.2s ease-out; }
  .btn__piglify {
    border: 1px solid #F9A195;
    color: #F9A195; }
    .btn__piglify:active {
      color: #434343;
      background-color: transparent; }
  .btn__englify {
    border: 1px solid #e7e7e7;
    color: #e7e7e7; }
    .btn__englify:active {
      color: #e7e7e7; }

.main {
  flex: 1 0 auto; }

.footer {
  flex: 0 0 auto; }

.container {
  padding: 0 3%; }
  .container .btn {
    width: 7rem; }

@media (hover: hover) and (pointer: fine) {
  .btn__piglify:hover {
    color: #fff;
    background-color: #F9A195; }
  .btn__piglify:active {
    color: #434343;
    background-color: transparent; }
  .btn__englify:hover {
    color: #e7e7e7; }
  .btn__englify:active {
    color: #e7e7e7; } }

.header {
  margin-top: 1rem; }
  .header .logo {
    color: #F9A195; }
  .header hr {
    margin: 0; }
  .header p {
    margin-top: 0.1rem;
    text-align: right; }

.piglatin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem; }
  .piglatin__textarea {
    width: 100%;
    max-width: 70%;
    height: 10rem;
    padding: 1rem;
    resize: none;
    border: 1px solid #F9A195;
    border-radius: 1rem; }
  .piglatin__text {
    padding: 2rem 0;
    width: 100%;
    word-break: break-all;
    text-align: center; }
  .piglatin___buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }

.footer p {
  text-align: center; }

@media (max-width: 768px) {
  .piglatin__textarea {
    max-width: 100%; } }
