@font-face {
  font-family: 'SourceCodePro-Regular';
  src: url('../fonts/SourceCodePro-Regular.eot');
  src: url('../fonts/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceCodePro-Regular.woff2') format('woff2'), url('../fonts/SourceCodePro-Regular.woff') format('woff'), url('../fonts/SourceCodePro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.container {
  padding: 0 15%;
}
hr {
  border-color: #E5E5E5;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'SourceCodePro-Regular', sans-serif;
  font-size: 1rem;
  font-size: 62.5%;
  color: #434343;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
a {
  color: #00A1F1;
  text-decoration: none;
}
a:hover {
  color: #00A1F1;
  text-decoration: none;
}
a:focus {
  color: #00A1F1;
}
textarea {
  outline: none;
}
textarea:active {
  outline: none;
}
button {
  outline: none;
}
button:active {
  outline: none;
}
button:focus {
  outline: none;
}
.rps {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
header .logo {
  font-size: 1.8rem;
}
header hr {
  margin: 0;
}
header p {
  margin-top: 0.1rem;
  font-size: 0.9rem;
  text-align: right;
}
.rps-content {
  font-size: 1rem;
  text-align: center;
}
.rps-content-header {
  padding: 2rem;
}
.rps-content-middle-header {
  font-size: 3rem;
}
.rps-content-middle-content {
  padding: 2rem 0;
}
.game-res {
  display: none;
  font-size: 8rem;
}
.game-res-name {
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
}
.game-res-text {
  padding-top: 1rem;
  text-align: center;
  font-size: 3rem;
}
.button {
  font-size: 5rem;
}
.button i:active {
  color: #FFBB00;
}
.footer {
  text-align: center;
}
.footer-buttons {
  padding-bottom: 5rem;
}
.footer p {
  font-size: 0.8rem;
  text-align: center;
  color: #00A1F1;
}
.rock {
  color: #EA4335;
}
.papper {
  color: #7CBB00;
}
.scissors {
  color: #00A1F1;
}
@media (max-width: 767px) {
  .container {
    padding: 0;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 3%;
  }
  header .logo {
    padding: 1rem 0;
    font-size: 1.4rem;
  }
  .rps-content-header {
    padding: 1rem;
  }
  .rps-content-middle-header {
    font-size: 1.4rem;
  }
  .rps-content-middle-content {
    padding: 2rem 0;
  }
  .game-res {
    display: none;
    font-size: 6rem;
  }
  .game-res-text {
    padding-top: 0;
    font-size: 1.4rem;
  }
  .button {
    font-size: 3rem;
  }
  .footer-buttons {
    padding-bottom: 2rem;
  }
}
@media (hover: hover) and (pointer: fine) {
  .button i:hover {
    color: #FFBB00;
  }
  .button i:active {
    color: #cc9600;
  }
}
.active {
  display: inline-block;
}
