.seat {
  height: 12px;
  width: 15px;
  margin: 3px;
  background-color: var(--seatBg);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.seat--selected {
  background-color: var(--selected);
}

.seat--occupied {
  background-color: var(--occupied);
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.seat--occupied):active {
  cursor: pointer;
  transform: scale(1.2);
}

@media (hover: hover) and (pointer: fine) {
  .seat:not(.seat--occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}
