.video {
  cursor: pointer;
  background-color: var(--black) !important;
  width: 95%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@media (min-width: 768px) {
  .video {
    width: 60%;
  }
}
