.menu__link {
  color: var(--white);
  text-decoration: none;
}

.menu__link:active {
  text-decoration: underline;
  color: var(--white);
}

@media (hover: hover) and (pointer: fine) {
  .menu__link:hover {
    text-decoration: underline;
    color: var(--white);
  }

  .menu__link:active {
    color: var(--black);
  }
}
