// Header
.header
  margin-top: 1rem
  .logo
    color: $yellow
  hr
    margin: 0
  p
    margin-top: 0.1rem
    text-align: right

// Main
.main
  &__content, &__bottom
    display: flex
  &__content
    align-items: center
    flex-direction: column
  &__bottom
    flex-direction: row
    width: 100%

// Footer
.footer
  p
    text-align: center

@media (max-width: $large)
  // Main
  .main
    &__bottom
      flex-direction: column
