// Search
.search
  padding: 3rem 0
  display: flex
  flex-direction: column
  align-items: center
  align-self: flex-end
  &__label
    text-align: right
    align-self: flex-end
    padding-bottom: 1rem
  &__field
    width: 15rem
    height: 2.5rem
    padding: 0 1rem
    border-radius: 0.3rem
    border: 1px solid lighten($gray, 40%)
    color: lighten($gray, 40%)
    transition: all 0.2s ease-out
    &:focus
      border: 1px solid $yellow
      color: $gray
      width: 17rem

// Results
.results
  position: relative
  display: flex
  flex-direction: column
  width: 35rem
  &__list
    list-style: none
  &__content
    display: flex
    flex-direction: column


.results
  &__link, &__data
    display: flex
  &__link
    margin: 1rem 0
    padding: 0.5rem
    height: 6rem
    align-items: center
    flex-direction: row
    cursor: pointer
    color: $text
    &:focus, &:active
      text-decoration: none !important
      color: $text !important
    &:active
      background-color: $light-gray !important
  &__name
    color: $yellow
  &__author, &__fig
    margin: 0
  &__data
    flex-direction: column
    justify-content: center
    margin-left: 1rem
  &__img
    width: 4rem !important
    height: 4rem !important
    backface-visibility: hidden
    overflow: hidden
    border-radius: 50%

.results
  &__pages
    position: absolute
    top: 40rem
    display: flex
    flex-direction: row
    width: 13rem
    justify-content: center
    align-items: center
    align-self: center
  &__num
    margin: 0 1rem
  &__btn--next, &__btn--prev
    display: flex
    align-items: center
    justify-content: center
    color: $text
    transition: all 0.2s ease-out
  &__icon
    width: 1.8rem !important
    height: 1.8rem !important
    fill: currentColor
    cursor: pointer
    &:active
      color: darken($yellow, 10%)

// Separator
.separator
  background-color: $text
  width: 1px
  margin: 0 1rem
  &__light
    background-color: $light-gray

// Recipe
.recipe
  width: 100%
  &__fig
    hr
      width: 50%
  &__img
    width: 100%
    max-height: 27rem
    border-radius: 1rem
  &__title
    color: $yellow
    text-align: center

// Recipe list
.recipe__ingredient-list
  list-style: none

// Recipe item
.recipe
  &__item
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-start
    padding: 0.5rem 1rem
    &:nth-child(even)
      background-color: lighten($light-gray, 6%)
    &:nth-child(odd)
      background-color: $light-gray
  &__icon
    margin-right: 1rem
    max-width: 1.5rem !important
    min-width: 1.5rem !important
    height: 2rem !important
    fill: $yellow

// Loader
.loader
  text-align: center
  margin: 3rem auto
  &__img
    height: 3rem
    width: 3rem
    fill: $yellow
    transform-origin: 44% 50%
    animation: rotate 1.5s infinite linear

@media (hover: hover) and (pointer: fine)
  .results
    &__icon
      &:hover
        color: $yellow
      &:active
        color: darken($yellow, 10%)
    &__link
      &:hover
        text-decoration: none
        color: $text
        background-color: lighten($light-gray, 6%)

@media (max-width: $large)
  // Results
  .results
    display: flex
    flex-direction: column
    width: 100%

  // Separator
  .separator
    width: 0
    margin: 0

  // Recipe
  .recipe
    padding-top: 2rem

@media (max-width: $small)
  // Search
  .search
    align-self: center
    &__label
      text-align: center
      align-self: center

  // Results
  .results
    &__title
      text-align: center

  // Recipe
  .recipe
    &__title
      font-size: 1.4rem
