// Const
- const FAVICON = {href: 'img/favicon-32x32.png', type: 'image/x-icon', rel: 'shortcut icon'}

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <meta name="keywords" content="HTML, Pug, CSS, Sass, Bootstrap, Webpack, ES6, Babel">
    meta(name="description" content="Find the recipe you want")
    meta(name="author" content="Dmitriy Granyov")
    title Recipe App
    // Favicon
    link(rel=FAVICON.rel href=FAVICON.href type=FAVICON.type)
  body
    header.header
      .container
        h1.logo # recipe app
        hr
        p cook it
    main.main
      .container
        .main__content
          form.search
            label.search__label search the recipe
            input.search__field(type="text")
          .main__bottom
            .results#results
              h2.results__title Search results
              hr
              .results__content
                ul.results__list
              .results__pages
            .separator.separator__light
            .recipe#recipe
              h2.results__title Recipe description
              hr
              .recipe__content
                .recipe__header
                ul.recipe__ingredient-list
    footer.footer
      .container
        hr
        p
          a.link(href="https://gitlab.com/syr1ken") @syr1ken
