//- Mixins
mixin calcBtn(btnData)
  if (btnData.type === 'func')
    .col
      div(class=btnData.classes data-type=btnData.type data-funcname=btnData.funcName)=btnData.text
  else 
    .col
      div(class=btnData.classes data-type=btnData.type data-value=btnData.value)=btnData.text

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="keywords" content="HTML, Pug, CSS, Less, Bootstrap")
    meta(name="description" content="Standard calculator")
    meta(name="author" content="Dmitriy Granyov")
    title Calculator
    // Favicon
    link(rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon")
    // Bootstrap CSS 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    // Custom css
    link(rel="stylesheet" href="css/style.css")
  body
    header.header
      .container
        h1.logo # calc
        hr
        p just calculator
    main.main
      .container
        .main-content
          .calc
            .dispaly
              .dispaly
            .buttons
              .row.margin__top-bottom
                - let buttons = []
                - buttons.push({classes: 'btn btn-lg calc__btn', type: 'func', funcName: 'back', text: '<'})
                - buttons.push({classes: 'btn btn-lg calc__btn', type: 'func', funcName: 'clear', text: 'C'})
                - buttons.push({classes: 'btn btn-lg calc__btn', type: 'func', funcName: 'clearAll', text: 'CE'})
                - buttons.push({classes: 'btn btn-lg calc__btn', type: 'func', funcName: 'pow', text: 'x2'})
                each button in buttons
                  +calcBtn(button)
              .row.margin__top-bottom
                - buttons = []
                - buttons.push({classes: 'btn btn-lg calc__btn', type: 'func', funcName: 'add', text: '+'})
                - buttons.push({classes: 'btn btn-lg calc__btn', type: 'func', funcName: 'min', text: '-'})
                - buttons.push({classes: 'btn btn-lg calc__btn', type: 'func', funcName: 'multiply', text: '*'})
                - buttons.push({classes: 'btn btn-lg calc__btn', type: 'func', funcName: 'divide', text: '/'})
                each button in buttons
                  +calcBtn(button)
              .row.margin__top-bottom
                - buttons = []
                - buttons.push({classes: 'btn btn-lg calc__btn', type: 'func', funcName: 'sqrt', text: '√'})
                - buttons.push({classes: 'btn btn-lg calc__btn', type: 'func', funcName: 'percent', text: '%'})
                - buttons.push({classes: 'btn btn-lg calc__btn', type: 'func', funcName: 'changeSign', text: '±'})
                - buttons.push({classes: 'btn btn-lg calc__btn', type: 'func', funcName: 'eql', text: '='})
                each button in buttons
                  +calcBtn(button)
              .row.margin__top-bottom
                - buttons = []
                - buttons.push({classes: 'btn btn-lg calc__btn', type: 'num', value: '7', text: '7'})
                - buttons.push({classes: 'btn btn-lg calc__btn', type: 'num', value: '8', text: '8'})
                - buttons.push({classes: 'btn btn-lg calc__btn', type: 'num', value: '9', text: '9'})
                - buttons.push({classes: 'btn btn-lg calc__btn', type: 'num', value: '00', text: '00'})
                each button in buttons
                  +calcBtn(button)
              .row.margin__top-bottom
                - buttons = []
                - buttons.push({classes: 'btn btn-lg calc__btn', type: 'num', value: '4', text: '4'})
                - buttons.push({classes: 'btn btn-lg calc__btn', type: 'num', value: '5', text: '5'})
                - buttons.push({classes: 'btn btn-lg calc__btn', type: 'num', value: '6', text: '6'})
                - buttons.push({classes: 'btn btn-lg calc__btn', type: 'num', value: '0', text: '0'})
                each button in buttons
                  +calcBtn(button)
              .row.margin__top-bottom
                - buttons = []
                - buttons.push({classes: 'btn btn-lg calc__btn', type: 'num', value: '1', text: '1'})
                - buttons.push({classes: 'btn btn-lg calc__btn', type: 'num', value: '2', text: '2'})
                - buttons.push({classes: 'btn btn-lg calc__btn', type: 'num', value: '3', text: '3'})
                - buttons.push({classes: 'btn btn-lg calc__btn', type: 'func', funcName: 'dot', text: '.'})
                each button in buttons
                  +calcBtn(button)
    footer.footer
      .container
        hr
        p
          a.link(href="https://gitlab.com/syr1ken") @syr1ken
    // Bootstrap + JQ
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
    // Font Awesome
    script(src="https://kit.fontawesome.com/4ebe998a10.js" crossorigin="anonymous")
    // Custom scripts
    script(src="js/app.js")
