// Mixins
.font (@font, @fz) {
  font-family: @font, sans-serif;
  font-size: @fz;
}

// Fonts
@font-face {
  font-family: 'SourceCodePro-Regular';
  src: url('../fonts/SourceCodePro-Regular.eot');
  src: url('../fonts/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceCodePro-Regular.woff2') format('woff2'), url('../fonts/SourceCodePro-Regular.woff') format('woff'), url('../fonts/SourceCodePro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Colors
@primary-gray: #E5E5E5;
@white: #fff;
@text: #434343;

@rps-blue: #00A1F1;
@rps-green: #7CBB00;
@rps-yellow: #FFBB00;
@rps-red: #EA4335;


// Base
.container {
  padding: 0 15%;
}

hr {
  border-color: @primary-gray;
}

html, body {
  height: 100%;
}

body {
  .font('SourceCodePro-Regular', 1rem);
  font-size: 62.5%;
  color: @text;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  color: @rps-blue;
  text-decoration: none;
  &:hover {
    color: @rps-blue;
    text-decoration: none;
  }
  &:focus {
    color: @rps-blue;
  }
}

textarea {
  outline: none;
  &:active {
    outline: none;
  }
}

button {
  outline: none;
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

.rps {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

// Header
header {
  .logo {
    font-size: 1.8rem;
  }
  hr {
    margin: 0;
  }
  p {
    margin-top: 0.1rem;
    font-size: 0.9rem;
    text-align: right;
  }
}

// Main
.rps {
  &-content {
    font-size: 1rem;
    text-align: center;
    &-header {
      padding: 2rem;
    }
    &-middle {
      &-header {
        font-size: 3rem;
      }
      &-content {
        padding: 2rem 0;
      }
    }
  }
}

// Result
.game-res {
  display: none;
  font-size: 8rem;
  &-name {
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
  }
  &-text {
    padding-top: 1rem;
    text-align: center;
    font-size: 3rem;
  }
}

// Button
.button {
  font-size: 5rem;
  i {
    &:active {
      color: @rps-yellow;
    }
  }
}

// Footer
.footer {
  text-align: center;
  &-buttons {
    padding-bottom: 5rem;
  }
  p {
    font-size: 0.8rem;
    text-align: center;
    color: @rps-blue;
  }
}

.rock {
  color: @rps-red;
}

.papper {
  color: @rps-green;
}

.scissors {
  color: @rps-blue;
}
@media (max-width: 767px) {
  .container {
    padding: 0;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 3%;
  }

  // Header
  header {
    .logo {
      padding: 1rem 0;
      font-size: 1.4rem;
    }
  }

  // Main
  .rps {
    &-content {
      &-header {
        padding: 1rem;
      }
      &-middle {
        &-header {
          font-size: 1.4rem;
        }
        &-content {
          padding: 2rem 0;
        }
      }
    }
  }

  // Result
  .game-res {
    display: none;
    font-size: 6rem;
    &-text {
      padding-top: 0;
      font-size: 1.4rem;
    }
  }

  // Button
  .button {
    font-size: 3rem;
  }

  // Footer
  .footer {
    &-buttons {
      padding-bottom: 2rem;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .button {
    i {
      &:hover {
        color: @rps-yellow;
      }
      &:active {
        color: darken(@rps-yellow, 10%);
      }
    }
  }
}

.active {
  display: inline-block;
}
