.aside {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid var(--text);
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .aside {
    border-right: 1px solid var(--text);
    border-bottom: none;
    padding: 0 20px;
    margin: 0;
    width: 300px;
  }
}
