// Header
.header
  margin-top 1rem
  .logo
    color $red
  hr
    margin 0
  p
    margin-top 0.1rem
    text-align right

// Main
.main
  &-content
    display flex
    flex-direction column
    align-items center
  &-title
    margin-top 4rem
    margin-bottom 5rem
    color lighten($text, 20%)

// Dice
.dice
  position relative
  &__number
    position absolute
    margin 0
    top 50%
    left 50%
    transform translate(-50%, -50%)
    font-size 4rem
    color $red

// Roll
.roll_group
  margin-top 5rem
  display flex
  flex-direction row

// Footer
.footer
  p
    text-align center
    color $red
