.red
  color $red !important

.green
  color $green !important

.blue
  color $blue !important

.yellow
  color $yellow !important

.red-active
  color $red !important
  border-color $red !important
  &:active
    background-color $red !important
    color $black !important

.green-active
  border-color $green !important
  color $green !important
  &:active
    background-color $green !important
    color $black !important

.blue-active
  border-color $blue !important
  color $blue !important
  &:active
    background-color $blue !important
    color $black !important

.yellow-active
  border-color $yellow !important
  color $yellow !important
  &:active
    background-color $yellow !important
    color $black !important

@media (hover: hover) and (pointer: fine)
  .red-active
    &:hover
      background-color $red !important
      color $white !important
    &:active
      background-color $red !important
      color $black !important

  .green-active
    &:hover
      background-color $green !important
      color $white !important
    &:active
      background-color $green !important
      color $black !important

  .blue-active
    &:hover
      background-color $blue !important
      color $white !important
    &:active
      background-color $blue !important
      color $black !important

  .yellow-active
    &:hover
      background-color $yellow !important
      color $white !important
    &:active
      background-color $yellow !important
      color $black !important
