doctype html
html(lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(charset="UTF-8")
    meta(name="author" content="Dmitriy Granyov")
    meta(name="description", content="Simple Java Script Solution For Exchange Rate Calculator")
    title Exchange Rate Calculator
  body
    .exchanger
      img.money(src="./img/money.png" alt="Money")
      h1.title.exchanger__title Exchange Rate Calculator
      p.subtitle.exchanger__subtitle Choose the currency and the amount to get the exchange rate
      .exchanger__container
        .currency.exchanger__currency
          select.currency__select.select-one
            option(value='AED') AED
            option(value='ARS') ARS
            option(value='AUD') AUD
            option(value='BGN') BGN
            option(value='BRL') BRL
            option(value='BSD') BSD
            option(value='CAD') CAD
            option(value='CHF') CHF
            option(value='CLP') CLP
            option(value='CNY') CNY
            option(value='COP') COP
            option(value='CZK') CZK
            option(value='DKK') DKK
            option(value='DOP') DOP
            option(value='EGP') EGP
            option(value='EUR') EUR
            option(value='FJD') FJD
            option(value='GBP') GBP
            option(value='GTQ') GTQ
            option(value='HKD') HKD
            option(value='HRK') HRK
            option(value='HUF') HUF
            option(value='IDR') IDR
            option(value='ILS') ILS
            option(value='INR') INR
            option(value='ISK') ISK
            option(value='JPY') JPY
            option(value='KRW') KRW
            option(value='KZT') KZT
            option(value='MXN') MXN
            option(value='MYR') MYR
            option(value='NOK') NOK
            option(value='NZD') NZD
            option(value='PAB') PAB
            option(value='PEN') PEN
            option(value='PHP') PHP
            option(value='PKR') PKR
            option(value='PLN') PLN
            option(value='PYG') PYG
            option(value='RON') RON
            option(value='RUB') RUB
            option(value='SAR') SAR
            option(value='SEK') SEK
            option(value='SGD') SGD
            option(value='THB') THB
            option(value='TRY') TRY
            option(value='TWD') TWD
            option(value='UAH') UAH
            option(value='USD' selected) USD
            option(value='UYU') UYU
            option(value='VND') VND
            option(value='ZAR') ZAR
          input.currency__input.input-one(type="number" placeholder="0" value="1")
        .exchanger__rate
          button.btn.swap Swap
          .rate 123123213123123
        .currency.exchanger__currency
          select.currency__select.select-two
            option(value='AED') AED
            option(value='ARS') ARS
            option(value='AUD') AUD
            option(value='BGN') BGN
            option(value='BRL') BRL
            option(value='BSD') BSD
            option(value='CAD') CAD
            option(value='CHF') CHF
            option(value='CLP') CLP
            option(value='CNY') CNY
            option(value='COP') COP
            option(value='CZK') CZK
            option(value='DKK') DKK
            option(value='DOP') DOP
            option(value='EGP') EGP
            option(value='EUR' selected) EUR
            option(value='FJD') FJD
            option(value='GBP') GBP
            option(value='GTQ') GTQ
            option(value='HKD') HKD
            option(value='HRK') HRK
            option(value='HUF') HUF
            option(value='IDR') IDR
            option(value='ILS') ILS
            option(value='INR') INR
            option(value='ISK') ISK
            option(value='JPY') JPY
            option(value='KRW') KRW
            option(value='KZT') KZT
            option(value='MXN') MXN
            option(value='MYR') MYR
            option(value='NOK') NOK
            option(value='NZD') NZD
            option(value='PAB') PAB
            option(value='PEN') PEN
            option(value='PHP') PHP
            option(value='PKR') PKR
            option(value='PLN') PLN
            option(value='PYG') PYG
            option(value='RON') RON
            option(value='RUB') RUB
            option(value='SAR') SAR
            option(value='SEK') SEK
            option(value='SGD') SGD
            option(value='THB') THB
            option(value='TRY') TRY
            option(value='TWD') TWD
            option(value='UAH') UAH
            option(value='USD') USD
            option(value='UYU') UYU
            option(value='VND') VND
            option(value='ZAR') ZAR
          input.currency__input.input-two(type="number" placeholder="0")
