doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="keywords" content="HTML, Pug, CSS, Stylus, Bootstrap")
    meta(name="description" content="Roll the dice")
    meta(name="author" content="Dmitriy Granyov")
    meta(data-colors="red,yellow,blue,green")
    title Dice Roll
    // Favicon
    link(rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon")
    // Bootstrap CSS 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    // Custom css
    link(rel="stylesheet" href="css/style.css")
  body
    header.header
      .container
        h1.logo # dice roll
        hr
        p roll the dice
    main.main
      .container
        .main-content
          h2.main-title roll it
          .dice
            p.dice__number 5
          .roll_group
            select.select
              //- option.select__option(value="d4"  data-sides="4" data-content='<svg width="156" height="156"><polygon points="0,156 78,0 156,156"></polygon></svg>') d4
              //- option.select__option(value="d6" selected data-sides="6" data-content='<svg width="156" height="156"><rect width="156" height="156"></rect></svg>') d6
              //- option.select__option(value="d6"  data-sides="8" data-content='<svg width="156" height="156"><polygon points="78,0 156,39 156,117 78,156 0,117 0,39"></polygon></svg>') d8
              
              option.select__option(value="4"  data-sides="4") d4
              option.select__option(value="6" selected data-sides="6") d6
              option.select__option(value="8"  data-sides="8") d8
            button.btn.btn-lg.btn-roll.red-active roll
    footer.footer
      .container
        hr
        p
          a.link(href="https://gitlab.com/syr1ken") @syr1ken
    // Bootstrap + JQ
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
    // Font Awesome
    script(src="https://kit.fontawesome.com/4ebe998a10.js" crossorigin="anonymous")
    // Custom scripts
    script(src="js/app.js")
