@font-face {
  font-family: 'SourceCodePro-Regular';
  src: url("../fonts/SourceCodePro-Regular.eot");
  src: url("../fonts/SourceCodePro-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/SourceCodePro-Regular.woff2") format('woff2'), url("../fonts/SourceCodePro-Regular.woff") format('woff'), url("../fonts/SourceCodePro-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'SourceCodePro-Regular', sans-serif;
  font-size: 62.5%;
  color: #434343;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
body * {
  font-size: 1rem;
}
*:focus {
  outline: 0 !important;
  -webkit-outline: 0 !important;
  -moz-outline: 0 !important;
  -ms-outline: 0 !important;
  -o-outline: 0 !important;
}
.link {
  text-decoration: none;
  color: #28b9b5;
}
.link:hover {
  color: #28b9b5;
  text-decoration: none;
}
.link:focus {
  color: #28b9b5;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 1.8rem;
}
.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.container {
  padding: 0 3%;
}
.add__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  color: #28b9b5;
}
.add__btn:active {
  transform: translateY(2px);
}
.add_icon {
  font-size: 2rem;
}
.right {
  float: right;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.header {
  margin-top: 1rem;
}
.header .logo {
  color: #28b9b5;
}
.header hr {
  margin: 0;
}
.header p {
  margin-top: 0.1rem;
  text-align: right;
}
.budget {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.budget-top-tittle {
  font-size: 1.2rem;
}
.budget-top-tittle span {
  font-size: inherit;
}
.budget-top__value {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.6rem;
  text-align: center;
}
.budget-top-income,
.budget-top-expenses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.budget-top-income {
  color: #28b9b5;
}
.budget-top-expenses {
  color: #ff5049;
}
.add {
  margin-top: 2rem;
}
.add,
.add__group {
  display: flex;
  flex-direction: row;
}
.add__type option {
  outline: none !important;
}
.add__type,
.add__description,
.add__value,
.add__btn {
  margin: 0 0.5rem;
  height: 2.5rem;
}
.add__type,
.add__description,
.add__value {
  border: 1px solid #e7e7e7;
  background-color: transparent;
}
.add__type,
.add__btn {
  width: 2.5rem;
}
.add__description,
.add__value {
  padding-left: 1rem;
}
.add__type:focus,
.add__description:focus,
.add__value:focus {
  outline: none;
  border: 1px solid #28b9b5;
}
.budget-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.income,
.expenses {
  margin-top: 3rem;
  width: inherit;
  text-align: center;
}
.icome__title,
.expenses__title {
  font-size: 1.2rem;
}
.icome__title {
  color: #28b9b5;
}
.expenses__title {
  color: #ff5049;
}
.item {
  width: 95%;
  padding: 1rem;
  border-bottom: 1px solid #e7e7e7;
}
.item:first-child {
  border-top: 1px solid #e7e7e7;
}
.item:nth-child(even) {
  background-color: #e7e7e7;
}
.item__description {
  float: left;
}
.item__value {
  float: left;
  transition: transform 0.3s;
}
.income .item__value,
.income .item__delete--btn {
  color: #28b9b5;
}
.expenses .item__value,
.expenses .item__delete--btn {
  color: #ff5049;
}
.item__delete {
  float: left;
}
.item__delete--btn {
  margin-left: 1.5rem;
  font-size: 2.5px;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
.item__delete--btn:focus {
  outline: none;
}
.item__delete--btn:active {
  transform: translateY(2px);
}
.footer p {
  text-align: center;
  color: #28b9b5;
}
@media (max-width: 992px) {
  .item__delete--btn {
    margin-left: 0.75rem;
  }
}
@media (max-width: 768px) {
  .add,
  .budget-bottom {
    flex-direction: column;
  }
  .add__value,
  .add__btn {
    margin-top: 1rem;
  }
}
.red {
  color: #ff5049 !important;
}
.red-active {
  color: #ff5049 !important;
}
.red-active:hover {
  color: #ff5049;
}
.red-active:focus {
  color: #ff5049;
}
.cyan {
  color: #28b9b5 !important;
}
.red-focus:focus {
  border: 1px solid #ff5049 !important;
}
