.toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
  padding: 8px 12px;
}

.toggle:focus {
  outline: none;
}

.toggle:active {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (hover: hover) and (pointer: fine) {
  .toggle:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .toggle:active {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
