body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1rem;
}

.person {
  display: flex;
  justify-content: space-between;
}
