:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --bg: rgb(244, 244, 244);
  --border: rgb(119, 119, 119);
  --text: rgb(40, 40, 40);
  --btnActive: rgb(231, 231, 231);
  --btnHover: rgb(240, 240, 240);
}
