/**
  * The designs were created to the following widths:
    - Mobile: 375px
    - Desktop: 1440px
  * Typography
    - Font size: 16px
*/

@import "./_normalize.css";
@import "./_fonts.css";
@import "./_variables.css";
@import "./_base.css";
@import "./total/total.css";
@import "./title/title.css";
@import "./aside/aside.css";
@import "./container/container.css";
@import "./main/main.css";
@import "./main/main__title/main__title.css";
@import "./btn/btn.css";
@import "./persons/persons.css";
@import "./person/person.css";
