// Animation
@keyframes rotate
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

// Fonts
@font-face
  font-family: 'SourceCodePro-Regular'
  src: url('../fonts/SourceCodePro-Regular.eot')
  src: url('../fonts/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceCodePro-Regular.woff2') format('woff2'), url('../fonts/SourceCodePro-Regular.woff') format('woff'), url('../fonts/SourceCodePro-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

// Font mixin
@mixin font ($font: 'sans-serif', $fz: 1rem)
  font-family: $font, sans-serif
  font-size: $fz

// Base
html, body
  height: 100%

body
  @include font('SourceCodePro-Regular', 62.5%)
  color: $text !important
  display: flex
  flex-direction: column
  min-height: 100%

body
  *
    font-size: 1rem

*:focus
  outline: 0 !important
  -webkit-outline: 0 !important
  -moz-outline: 0 !important
  -ms-outline: 0 !important
  -o-outline: 0 !important

a
  text-decoration: none!important
  color: $text !important
  &:focus
    text-decoration: none !important
    color: $text !important
  &:active
    text-decoration: none !important
    color: $text !important

.link
  color: $orange !important
  &:focus
    color: $orange !important

hr
  border: none !important
  height: 1px !important
  background-color: $light-gray
  width: 100%

ul, ol
  margin: 0 !important
  padding: 0 !important

h1
  font-size: 1.8rem

h2
  font-size: 1.4rem
  margin: 0

h3
  font-size: 1.2rem

h4
  font-weight: 600
  font-size: 1rem
.main
  flex: 1 0 auto

.footer
  flex: 0 0 auto

.container
  padding: 0 3%

@media (hover: hover) and (pointer: fine)
  a
    text-decoration: none !important
    color: $text !important
    &:hover
      text-decoration: none !important
      color: $text !important

  .link
    color: $orange !important
    &:hover
      color: $orange !important
