// Header
.header
  margin-top: 1rem
  .logo
    color: $orange
  hr
    margin: 0
  p
    margin-top: 0.1rem
    text-align: right

// Main
.main__content
  display: none

.forecast, .search, .forecast__container,
.dataitem, .dataitem__container, .forecast__datalist,
.forecast__datalist-group, .forecast__overview, .temperature,
.overview__container, .overview__iconcon, .week__list,
.overview__group
  display: flex

.forecast, .search,
  flex-direction: column
  justify-content: center
  align-items: center

.forecast__container, .forecast .line
  width: 35rem

// Search
.search
  margin: 2rem 0

// Forecast
.forecast
  &__container, &__datalist, &__datalist-group, &__overview
    flex-direction: row
  &__container
    justify-content: space-between
  &__title
    color: $orange
  &__overview
    margin: 2rem 0 0
    justify-content: space-between
    align-items: center
    width: 18rem

// Overview
.overview
  &__container
    flex-direction: column
    align-items: center
  &__iconcon
    height: 10rem
    flex-direction: column
    align-items: center
  &__icon
    width: 5rem
  &__text
    margin-top: 1rem
    color: $orange
    font-size: 1.4rem
    text-align: center
  &__group
    flex-direction: row

// Week
.week
  &__title
    color: $orange
    text-align: center
  &__list
    justify-content: center
    align-items: center

// Footer
.footer
  p
    text-align: center

@media (max-width: $medium)
  // Week
  .week
    &__list
      flex-direction: column

@media (max-width: $medium)
  .forecast__container, .forecast .line
    width: 100%

@media (max-width: $small)
  // Forecast
  .forecast
    &__datalist,
      flex-direction: column
    &__overview
      width: 18rem
  // Overview
  .overview
    &__iconcon
      margin-bottom: 1rem
    &__icon
      width: 6rem
