// Error
.error
  text-align: center
  color: $red

// Loader
.loader
  text-align: center
  margin: 3rem auto
  &__container
    display: flex
    justify-content: center
    align-items: center
  &__img
    height: 3rem
    width: 3rem
    fill: $orange
    transform-origin: 44% 50%
    animation: rotate 1.5s infinite linear

// Search
.search
  &__input
    width: 15rem
    padding: 0 0.5rem
    height: 2.5rem
    border: 1px solid $text
    border-radius: 0.2rem
    color: $gray
    transition: all 0.2s ease-out
    &:focus
      border: 1px solid $orange
      color: $gray
      width: 17rem
  &__label
    margin-bottom: 1rem

// Dataitem
.dataitem
  flex-direction: column
  margin: 0.5rem 0
  padding: 0 0.5rem
  min-width: 8rem
  &__container
    flex-direction: row
    justify-content: center
  &__name
    color: $orange

// Temperature
.temperature
  flex-direction: column
  align-items: center
  padding: 0 0.5rem
  border-right: 1px solid $light-gray
  &__avgtemp
    color: $orange
    font-size: 1.4rem
    span
      font-size: 2rem
  &:last-child
    border-right: none
  &__header
    color: $orange

.weekcard, .weekcard__group, .weekcard__data,
.weekcard__datagroup, .weekcard__container, .weekcard__content,
.weekcard__temp__group
  display: flex

.weekcard__data, .weekcard__datagroup,
.weekcard, .weekcard__container, .weekcard__content, .weekcard__temp__group
  flex-direction: column
  align-items: center

// Weekcard
.weekcard
  padding: 0.5rem 2rem
  &__container
    justify-content: center
    width: 10rem
  &__date
    margin-bottom: 0.8rem
  &__weekday
    margin-bottom: 0
  &__icon
    width: 4rem
  &__title
    width: 100%
    margin: 1rem 0 0
    color: $orange
    text-align: center


.weekcard
  transition: all 0.2s ease-out
  min-width: 10rem
  &__datagroup, &__data
    justify-content: center
  &__data
    margin: 0.25rem 0
    &:first-child
      margin-top: 0.5rem
    &:last-child
      margin-bottom: 0.5rem
  &__data-name, &__avgtemp
    color: $orange
  &__avgtemp
    font-size: 1.4rem
    span
      font-size: 1.8rem
  &:active
    background-color: $light-gray

.weekcard__temp__group
  justify-content: center
  padding: 0 0.5rem
  &:first-child
    border-right: 1px solid $light-gray

@media (hover: hover) and (pointer: fine)
  .weekcard
    &:hover
      background-color: lighten($light-gray, 6%)
      cursor: pointer
    &:active
      background-color: $light-gray

@media (max-width: $ex-large)
  // Weekcard
  .weekcard
    padding: 0.5rem 0.25rem
    min-width: 8rem

@media (max-width: $medium)
  // Weekcard
  .weekcard
    width: 100%
    padding: 0.5rem 0
    &__content
      width: 100%
      flex-direction: row
      align-items: flex-start
      justify-content: space-between
    &__container
      padding: 0 0.5rem
      &:first-child
        padding-left: 0
      &:last-child
        padding-right: 0
