.button {
  display: block;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
  background-color: var(--button);
  border: 2px solid var(--button);
  border-radius: 4px;
  color: var(--white);
  font-family: "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
}

.button:active {
  background-color: var(--button-active);
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background-color: var(--button-hover);
  }

  .button:active {
    background-color: var(--button-active);
  }
}
