//- Mixixns
mixin formGroup(group)
  .form__control
    label(for=group.label.for class=group.label.class)=group.label.message
    input(type=group.input.type name=group.input.name class=group.input.class placeholder=group.input.placeholder)
    small(class=group.small.class)=group.small.message
    
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="author" content="Dmitriy Granyov")
    meta(name="description" content="Simple Java Script Solution For Form Validation")
    meta(name="keywords" content="Java Scripts, JS, js, java script, javascript, JavaScript, validator, validation")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Form Validator
  body
    .wrapper
      form.form
        h2.form__title Register With Us
        - let formGroups = []
        - formGroups.push({label: {for: "username", message: "Username", class: "form__label"}, input: {type: "text", name: "username", class: "form__input form__username", placeholder: "Enter username"}, small: {message: "Error Message", class: "form__error"}})
        - formGroups.push({label: {for: "email", message: "Email", class: "form__label"}, input: {type: "text", name: "email", class: "form__input form__email", placeholder: "Enter email"}, small: {message: "Error Message", class: "form__error"}})
        - formGroups.push({label: {for: "password", message: "Password", class: "form__label"}, input: {type: "password", name: "password", class: "form__input form__password", placeholder: "Enter password"}, small: {message: "Error Message", class: "form__error"}})
        - formGroups.push({label: {for: "password", message: "Confirm password", class: "form__label"}, input: {type: "password", name: "password", class: "form__input form__password-confirm", placeholder: "Enter password again"}, small: {message: "Error Message", class: "form__error"}})
        each group in formGroups
          +formGroup(group)
        button.button.form__submit Submit