doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="description", content="Simple Java Script Solution For Video Player")
    meta(name="author", content="Dmitriy Granyov")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="keywords" content="Java Script, java script, javascript, js, Movie Seat Booking, pug, css")
    title Custom Video Player
  body
    h1.title Custom Video Player
    video.video(src="./videos/gone.mp4" poster="./img/poster.png")
    .controls
      button.button.play-btn
        img.controls__btn.play(src="./img/play.svg")
      button.button.stop-btn
        img.controls__btn.stop(src="./img/stop.svg")
      input.progress(type="range" min="0" max="100" step="1.0" value="0")
      span.timestamp.controls__timestamp 00:00
