.controls {
  color: var(--white);
  background-color: var(--controlsBg);
  width: 95%;
  display: flex;
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .controls {
    width: 60%;
  }
}
