doctype html
html(lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(charset="UTF-8")
    meta(name="author" content="Dmitriy Granyov")
    meta(name="description", content="Solution For Hang Man Game")
    title Hang Man Game
  body
    .container
      h1.title Hang Man Game
      p.subtitle Find the hidden word - Enter a letter
      .game
        svg.figure__container(height="250" width="200")
          //- Post
          line(x1="60" y1="20" x2="140" y2="20")
          line(x1="140" y1="20" x2="140" y2="50")
          line(x1="60" y1="20" x2="60" y2="230")
          line(x1="20" y1="230" x2="100" y2="230")
          //- Head
          circle(cx="140" cy="70" r="20").figure__part
          //- Body
          line(x1="140" y1="90" x2="140" y2="150").figure__part
          //- Arms
          line(x1="140" y1="120" x2="120" y2="100").figure__part
          line(x1="140" y1="120" x2="160" y2="100").figure__part
          //- Legs
          line(x1="140" y1="150" x2="120" y2="180").figure__part
          line(x1="140" y1="150" x2="160" y2="180").figure__part
        .wrong-letters
      .word
      .popup__container
        .popup
          h2.message You Have Won
          button.play Play Again
      .notification__container
        p.notification You have already entered this letter
    