@keyframes heartB {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.1);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.1);
  }
  0% {
    transform: scale(1);
  }
}
.heartB {
  -webkit-animation-name: heartB;
  animation-name: heartB;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@font-face {
  font-family: 'SourceCodePro-Regular';
  src: url('../fonts/SourceCodePro-Regular.eot');
  src: url('../fonts/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceCodePro-Regular.woff2') format('woff2'), url('../fonts/SourceCodePro-Regular.woff') format('woff'), url('../fonts/SourceCodePro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'SourceCodePro-Regular', sans-serif;
  font-size: 62.5%;
  color: #434343;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
body * {
  font-size: 1rem;
}
*:focus {
  outline: 0 !important;
  -webkit-outline: 0 !important;
  -moz-outline: 0 !important;
  -ms-outline: 0 !important;
  -o-outline: 0 !important;
}
.link {
  text-decoration: none;
  color: #d470ff;
}
.link:hover {
  color: #d470ff;
  text-decoration: none;
}
.link:focus {
  color: #d470ff;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.2rem;
}
.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.container {
  padding: 0 3%;
}
.header {
  margin-top: 1rem;
}
.header hr {
  margin: 0;
}
.header p {
  margin-top: 0.1rem;
  text-align: right;
}
.logo {
  color: #d470ff;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-title {
  margin-top: 4rem;
  margin-bottom: 5rem;
  color: #767676;
  text-align: center;
}
.heart {
  position: relative;
}
.heart__icon {
  color: #d470ff;
  font-size: 16rem;
}
.heart__icon:hover {
  cursor: pointer;
}
.heart__result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  pointer-events: none;
  user-select: none;
  font-size: 3.5rem;
}
.text__result {
  max-width: 85%;
  padding: 2rem 0;
  user-select: none;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: row;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-input {
  width: 12rem;
  height: 2.5rem;
  padding: 0 1rem;
}
.form-input:last-child {
  margin-left: 1rem;
}
.footer p {
  text-align: center;
  color: #d470ff;
}
@media (max-width: 576px) {
  .heart__icon {
    font-size: 12rem;
  }
  .heart__result {
    font-size: 2.5rem;
  }
  .form {
    flex-direction: column;
  }
  .form-input:last-child {
    margin-left: 0;
  }
}
.red {
  color: #FF1A1A !important;
}
.red-border {
  border: 1px solid #FF1A1A !important;
}
.green {
  color: #42ff9e !important;
}
