.btn {
  background-color: var(--white);
  border: 1px solid var(--text);
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-family: "OpenSans-Bold", sans-serif;
  color: var(--text);
}

.btn:last-child {
  margin-bottom: 0;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  background-color: var(--btnActive);
}

@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    background-color: var(--btnActive);
  }

  .btn:active {
    background-color: var(--btnHover);
  }
}
