@font-face {
  font-family: 'SourceCodePro-Regular';
  src: url("../fonts/SourceCodePro-Regular.eot");
  src: url("../fonts/SourceCodePro-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/SourceCodePro-Regular.woff2") format('woff2'), url("../fonts/SourceCodePro-Regular.woff") format('woff'), url("../fonts/SourceCodePro-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.container {
  padding: 0 15%;
}
hr {
  border-color: #e5e5e5;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'SourceCodePro-Regular', sans-serif;
  font-size: 1rem;
  font-size: 62.5%;
  color: #434343;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
a {
  color: #f65314;
  text-decoration: none;
}
a:hover {
  color: #f65314;
  text-decoration: none;
}
a:focus {
  color: #f65314;
}
button:active {
  outline: none;
}
.simon {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
header .logo {
  color: #f65314;
  font-size: 2rem;
}
header hr {
  margin: 0;
}
header p {
  margin-top: 0.1rem;
  font-size: 0.9rem;
  text-align: right;
}
.simon-content {
  font-family: 'SourceCodePro-Regular', sans-serif;
  font-size: 1rem;
  text-align: center;
  padding-top: 5rem;
}
.simon-content-header a {
  font-size: 1.4rem;
  padding-bottom: 0.2rem;
  cursor: pointer;
  color: #434343;
  border-bottom: 1px solid #434343;
  transition: all 0.1s ease-out;
}
.simon-content-header a:hover {
  color: #f65314;
  text-decoration: none;
  border-bottom: 1px solid #f65314;
}
.simon-content-header a:active {
  color: #434343;
  text-decoration: none;
  border-bottom: 1px solid #434343;
}
.simon-content-header-gameover {
  display: inline-block;
  color: #ff1a1a;
  width: 60%;
  margin-top: 1rem;
  visibility: hidden;
}
.simon-content-header-level {
  color: #f65314;
  margin: 1rem 0;
}
.simon-content-block-gameblock {
  display: inline-block;
  margin: 0.5rem;
  width: 10rem;
  height: 10rem;
}
.simon-content-block-green {
  background-color: #7cbb00;
}
.simon-content-block-green:active {
  background-color: #70a800;
}
.simon-content-block-red {
  background-color: #ea4335;
}
.simon-content-block-red:active {
  background-color: #e72b1b;
}
.simon-content-block-yellow {
  background-color: #fb0;
}
.simon-content-block-yellow:active {
  background-color: #e6a800;
}
.simon-content-block-blue {
  background-color: #00a1f1;
}
.simon-content-block-blue:active {
  background-color: #0091d9;
}
.active {
  visibility: visible;
}
.lighten {
  filter: brightness(70%);
}
.footer p {
  font-size: 0.8rem;
  text-align: center;
  color: #f65314;
}
@media (max-width: 576px) {
  .container {
    padding: 0 3%;
  }
  .simon-content-header-gameover {
    font-size: 0.8rem;
    margin: 0;
    padding: 0 0 0.5rem;
  }
  .simon-content-header-level {
    margin: 0.5rem 0;
  }
  .simon-content-block-gameblock {
    display: inline-block;
    margin: 0.2rem;
    width: 7rem;
    height: 7rem;
  }
}
@media (hover: hover) and (pointer: fine) {
  .simon-content-block-gameblock:hover,
  .simon-content-block-green:hover {
    background-color: #91db00;
  }
  .simon-content-block-gameblock:active,
  .simon-content-block-green:active {
    background-color: #70a800;
  }
  .simon-content-block-red:hover {
    background-color: #ec5649;
  }
  .simon-content-block-red:active {
    background-color: #e72b1b;
  }
  .simon-content-block-yellow:hover {
    background-color: #ffc21a;
  }
  .simon-content-block-yellow:hover:active {
    background-color: #e6a800;
  }
  .simon-content-block-blue:hover {
    background-color: #0dafff;
  }
  .simon-content-block-blue:active {
    background-color: #0091d9;
  }
}
