.notification__container {
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 15px;
  transform: translateX(-50%);
  border-radius: 5px 5px 0 0;
  height: 0;
  transition: 0.5s ease;
  width: 350px;
}
