//- Mixins
mixin Options(option)
  option(value=option.value)=option.text

mixin ShowcaseItem(item)
  li.showcase__item
    div(class=item.div.class)
    small.showcase__small=item.small.text

mixin TheaterSeat(seat)
  div(class=seat)

mixin TheaterRow(row)
  div(class=row.class)
    each seat in row.seats
      +TheaterSeat(seat)

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="author" content="Dmitriy Granyov")
    meta(name="description" content="Simple Java Script Solution For Movie Seat Booking")
    meta(name="keywords" content="Java Script, java script, javascript, js, Movie Seat Booking, pug, css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Movie Seat Booking
  body
    .select-box
      label Pick a movie:
      - const options = []
      - options.push({value: '10', text: "Avengers: Endgame (10$)"})
      - options.push({value: '12', text: "Joker (12$)"})
      - options.push({value: '8', text: "The Toy Story 4 (8$)"})
      - options.push({value: '9', text: "The Lion King (9$)"})
      select.select-box__select
        each option in options
          +Options(option)
    - const showcaseItems = []
    - showcaseItems.push({div: {class: "showcase__seat seat"}, small: {text: "N/A"}})
    - showcaseItems.push({div: {class: "showcase__seat seat seat--selected"}, small: {text: "Selected"}})
    - showcaseItems.push({div: {class: "showcase__seat seat seat--occupied"}, small: {text: "Occupied"}})
    ul.showcase
      each item in showcaseItems
        +ShowcaseItem(item)
    .theater
      .screen
      - const rows = []
      - rows.push({class: "theater__row", seats: ['seat', 'seat', 'seat', 'seat', 'seat', 'seat', 'seat', 'seat']})
      - rows.push({class: "theater__row", seats: ['seat', 'seat', 'seat', 'seat', 'seat', 'seat', 'seat', 'seat']})
      - rows.push({class: "theater__row", seats: ['seat', 'seat', 'seat', 'seat', 'seat', 'seat', 'seat', 'seat']})
      - rows.push({class: "theater__row", seats: ['seat', 'seat', 'seat', 'seat', 'seat', 'seat', 'seat', 'seat']})
      - rows.push({class: "theater__row", seats: ['seat', 'seat', 'seat', 'seat', 'seat', 'seat', 'seat', 'seat']})
      - rows.push({class: "theater__row", seats: ['seat', 'seat', 'seat', 'seat', 'seat', 'seat', 'seat', 'seat']})
      each row in rows
        +TheaterRow(row)
    p.total
      | You have selected 
      span.total__count 0
      | &nbsp;seats for a price&nbsp;
      span.total__money $0