@font-face {
  font-family: 'SourceCodePro-Regular';
  src: url('../fonts/SourceCodePro-Regular.eot');
  src: url('../fonts/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceCodePro-Regular.woff2') format('woff2'), url('../fonts/SourceCodePro-Regular.woff') format('woff'), url('../fonts/SourceCodePro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'SourceCodePro-Regular', sans-serif;
  font-size: 62.5%;
  color: #434343;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
body * {
  font-size: 1rem;
}
*:focus {
  outline: 0 !important;
  -webkit-outline: 0 !important;
  -moz-outline: 0 !important;
  -ms-outline: 0 !important;
  -o-outline: 0 !important;
}
.link {
  text-decoration: none;
  color: #00A1F1;
}
.link:hover {
  color: #00A1F1;
  text-decoration: none;
}
.link:focus {
  color: #00A1F1;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 1.8rem;
}
.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.container {
  padding: 0 3%;
}
.margin__top-bottom {
  margin: 1rem 0;
}
.row .col:first-child {
  padding-left: 0;
}
.row .col:last-child {
  padding-right: 0;
}
.header {
  margin-top: 1rem;
}
.header hr {
  margin: 0;
}
.header p {
  margin-top: 0.1rem;
  text-align: right;
}
.logo {
  color: #00A1F1;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calc {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}
.dispaly {
  text-align: right;
  font-size: 1.4rem;
  border-bottom: 1px solid #E5E5E5;
  width: 100%;
}
.calc__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 3rem;
  height: 3rem;
  background-color: none;
  border: 1px solid #E5E5E5;
  border-radius: 0.1rem;
  transition: all 0.2s ease-out;
  outline: none;
}
.calc__btn:active {
  border: 1px solid #00A1F1;
  color: #434343;
  outline: none;
}
.footer p {
  text-align: center;
}
@media (hover: hover) and (pointer: fine) {
  .calc__btn:hover {
    border: 1px solid #00A1F1;
    background-color: #00A1F1;
    color: #fff;
    outline: none;
  }
  .calc__btn:active {
    border: 1px solid #00A1F1;
    color: #434343;
    outline: none;
  }
}
