.select-box__select {
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  border: 0;
  border-radius: 5px;
  background-color: var(--white);
  font-size: 14px;
  appearance: none;
}

.select-box__select:focus {
  outline: 0;
}
