.letter {
  text-transform: uppercase;
  margin: 0 3px;
  width: 15px;
  font-size: 1.2rem;
  border-bottom: 2px solid var(--border);
}

@media (min-width: 768px) {
  .letter {
    margin: 0 5px;
    width: 20px;
    font-size: 1.6rem;
  }
}
