.currency__input {
  border: 0;
  background: transparent;
  font-size: 1.8rem;
  text-align: right;
  width: 200px;
}

@media (min-width: 768px) {
  .currency__input {
    width: 100%;
  }
}

.currency__input:focus {
  outline: 0;
}
