.currency__select {
  padding: 10px 20px 10px 10px;
  appearance: none;
  border: 1px solid var(--border);
  background: transparent;
  background-image: url(../../img/caret-down-solid.svg);
  background-position: right 6px top 50%, 0, 0;
  background-size: 12px auto, 100%;
  background-repeat: no-repeat;
}

.currency__select:focus {
  outline: 0;
}
