body {
  font-family: "OpenSans-Regular", sans-serif;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 1rem;
}
