@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: "OpenSans-SemiBold";
  src: url("./../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("./../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: "OpenSans-Bold";
  src: url("./../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("./../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
