:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --bg: rgb(244, 244, 244);
  --text: rgb(119, 119, 119);
  --primary: rgb(95, 186, 167);
  --primaryDark: rgb(75, 150, 133);
  --border: rgb(222, 222, 222);
}
