/**
  * The designs were created to the following widths:
    - Mobile: 375px
    - Desktop: 1440px
  * Typography
    - Font size: 16px
*/

@import "./_normalize.css";
@import "./_fonts.css";
@import "./_variables.css";
@import "./_base.css";
@import "./exchanger/exchanger.css";
@import "./exchanger/exchanger__currency.css";
@import "./exchanger/exchanger__title.css";
@import "./exchanger/exchanger__subtitle.css";
@import "./exchanger/exchanger__rate.css";
@import "./money/money.css";
@import "./title/title.css";
@import "./subtitle/subtitle.css";
@import "./currency/currency__select.css";
@import "./currency/currency__input.css";
@import "./btn/btn.css";
@import "./rate/rate.css";
