// Header
.header
  margin-top 1rem
  .logo
    color $cyan
  hr
    margin 0
  p
    margin-top 0.1rem
    text-align right

// Budget
.budget
  margin 1rem 0
  display flex
  flex-direction column
  align-items center

// Budget top
.budget-top
  &-tittle
    font-size 1.2rem
    span
      font-size  inherit
  &__value
    padding-top 1.5rem
    padding-bottom 1.5rem
    font-size 1.6rem
    text-align center
  &-income, &-expenses
    display flex
    flex-direction row
    justify-content space-between
  &-income
    color $cyan
  &-expenses
    color $red

// Add
.add
  margin-top 2rem

.add, .add__group
  display flex
  flex-direction row

.add__type
  option
    outline none !important

.add__type, .add__description,
.add__value, .add__btn
  margin 0 0.5rem
  height 2.5rem

.add__type, .add__description,
.add__value
  border 1px solid $light-gray
  background-color transparent

.add__type, .add__btn
  width 2.5rem

.add__description, .add__value
  padding-left 1rem

.add__type:focus,
.add__description:focus,
.add__value:focus
  outline none
  border 1px solid $cyan

// Budget bottom
.budget-bottom
  width 100%
  display flex
  flex-direction row

.income, .expenses
  margin-top 3rem
  width inherit
  text-align center

.icome__title, .expenses__title
  font-size 1.2rem

.icome__title
  color $cyan

.expenses__title
  color $red

// Income / Expense item
.item
  width 95%
  padding 1rem
  border-bottom 1px solid $light-gray

.item:first-child
   border-top 1px solid $light-gray
 .item:nth-child(even)
   background-color $light-gray

.item__description
  float left

.item__value
  float left
  transition transform 0.3s

.income .item__value,
.income .item__delete--btn
  color $cyan

.expenses .item__value,
.expenses .item__delete--btn
  color $red

.item__delete
  float left

.item__delete--btn
  margin-left 1.5rem
  font-size 2.5px
  background none
  border none
  cursor pointer
  display inline-block
  vertical-align middle
  line-height 1

.item__delete--btn:focus
  outline none
.item__delete--btn:active
  transform translateY(2px)


// Footer
.footer
  p
    text-align center
    color $cyan

@media (max-width: $large)
  .item__delete--btn
    margin-left 0.75rem
    
@media (max-width: $medium)
  // Add
  .add, .budget-bottom
    flex-direction column

  .add__value, .add__btn
    margin-top 1rem
