.red
  color $red !important

.red-active
  color $red !important
  &:hover
    color $red
  &:focus
    color $red

.cyan
  color $cyan !important

.red-focus:focus
  border 1px solid $red !important
