.close {
  position: absolute;
  top: 14px;
  right: 10px;
  padding: 4px 10px;
  background-color: transparent;
  border: 0;
  color: var(--white);
}

.close:focus {
  outline: none;
}

.close:active {
  color: var(--black);
}

@media (hover: hover) and (pointer: fine) {
  .close:hover {
    color: var(--light);
  }

  .close:active {
    color: var(--black);
  }
}
