:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --bg: rgb(102, 102, 102);
  --text: rgb(119, 119, 119);
  --controlsBg: rgb(51, 51, 51);
  --play: rgb(40, 167, 69);
  --stop: rgb(220, 53, 69);
}
