/**
  * The designs were created to the following widths:
    - Mobile: 375px
    - Desktop: 1440px
  * Typography
    - Font size: 16px
*/

@import "./_normalize.css";
@import "./_fonts.css";
@import "./_variables.css";
@import "./_progress.css";
@import "./_base.css";
@import "./title/title.css";
@import "./video/video.css";
@import "./controls/controls.css";
@import "./controls/controls__btn.css";
@import "./controls/controls__timestamp.css";
@import "./button/button.css";
@import "./timestamp/timestamp.css";
