.btn {
  background-color: var(--secondary);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 12px;
  color: var(--white);
}

.btn {
  background-color: var(--secondary);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 12px;
  color: var(--white);
}

.btn:focus {
  outline: none;
}

.btn:active {
  color: var(--black);
  background-color: var(--secondary-dark);
}

@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    background-color: var(--secondary-dark);
  }

  .btn:active {
    color: var(--black);
  }
}
