// Fonts
@font-face {
  font-family: 'SourceCodePro-Regular';
  src: url('../fonts/SourceCodePro-Regular.eot');
  src: url('../fonts/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceCodePro-Regular.woff2') format('woff2'), url('../fonts/SourceCodePro-Regular.woff') format('woff'), url('../fonts/SourceCodePro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Base
html, body {
  height: 100%;
}

body {
  .fontMix('SourceCodePro-Regular', 62.5%);
  color: @text;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  * {
    font-size: 1rem;
  }
}

*:focus {
  outline: 0 !important;
  -webkit-outline: 0 !important;
  -moz-outline: 0 !important;
  -ms-outline: 0 !important;
  -o-outline: 0 !important;
}


.link {
  text-decoration: none;
  color: @blue;
  &:hover {
    color: @blue;
    text-decoration: none;
  }
  &:focus {
    color: @blue;
  }
}


ul, ol {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.8rem;
}
.main {
  flex: 1 0 auto;
}

.footer  {
  flex: 0 0 auto;
}

.container {
  padding: 0 3%;
}

.margin__top-bottom {
  margin: 1rem 0;
}

.row {
  .col {
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}
