// Header
.header {
  margin-top: 1rem;
  hr {
    margin: 0;
  }
  p {
    margin-top: 0.1rem;
    text-align: right;
  }
}

.logo {
  color: @blue;
}

// Main
.main {
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// Calculator
.calc {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

// Display
.dispaly {
  text-align: right;
  font-size: 1.4rem;
  border-bottom: 1px solid @gray;
  width: 100%;
}

// Buttons
.calc__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 3rem;
  height: 3rem;
  background-color: none;
  border: 1px solid @gray;
  border-radius: 0.1rem;
  transition: all 0.2s ease-out;
  outline: none;
  &:active {
    border: 1px solid @blue;
    color: @text;
    outline: none;
  }
}

// Footer
.footer {
  p {
    text-align: center;
  }
}

@media (hover: hover) and (pointer: fine) {
  .calc__btn {
    &:hover {
      border: 1px solid @blue;
      background-color: @blue;
      color: @white;
      outline: none;
    }
    &:active {
      border: 1px solid @blue;
      color: @text;
      outline: none;
    }
  }
}
