// Paths
@IMG_DIR: '../img/';

// Colors
@gray: #E5E5E5;
@blue: #00A1F1;

@text: #434343;

@white: #fff;
@black: #000;

// Media breakpoints
@small: 576px;
@medium: 768px;
@large: 992px;
@ex-large: 1200px;
@huge: 1440px;
