body {
  height: 100%;
  min-height: 100%;
  font-family: "Lato-Regular", sans-serif;
  background-color: var(--bg);
  font-size: 1rem;
  transition: transform 0.3s ease;
}

.show-nav {
  transform: translateX(200px);
}
