:root {
  --white: rgb(255, 255, 255);
  --light: rgb(215, 215, 215);
  --black: rgb(0, 0, 0);
  --bg: rgb(244, 244, 244);
  --text: rgb(119, 119, 119);
  --modal-duration: 1s;
  --primary: rgb(48, 51, 107);
  --secondary: rgb(190, 46, 221);
  --secondary-dark: rgb(165, 39, 194);
  --nav-border: rgba(200, 200, 200, 0.1);
}
