/**
  * The designs were created to the following widths:
    - Mobile: 375px
    - Desktop: 1440px
  * Typography
    - Font size: 16px
*/

@import "./_normalize.css";
@import "./_fonts.css";
@import "./_variables.css";
@import "./_animations.css";
@import "./_base.css";
@import "./nav/nav.css";
@import "./logo/logo.css";
@import "./logo/logog__img.css";
@import "./menu/menu.css";
@import "./menu/menu__item.css";
@import "./menu/menu__link.css";
@import "./toggle/toggle.css";
@import "./header/header.css";
@import "./title/title.css";
@import "./subtitle/subtitle.css";
@import "./btn/btn.css";
@import "./cta/cta.css";
@import "./container/container.css";
@import "./modal/modal.css";
@import "./modal/modal__container.css";
@import "./modal/modal__header.css";
@import "./modal/modal__content.css";
@import "./modal/modal__text.css";
@import "./modal/modal--active.css";
@import "./form/form__group.css";
@import "./form/form__label.css";
@import "./form/form__input.css";
@import "./close/close.css";
