// Const
- const FAVICON = {href: 'img/favicon-32x32.png', type: 'image/x-icon', rel: 'shortcut icon'}

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <meta name="keywords" content="HTML, Pug, CSS, Sass, Bootstrap">
    meta(name="description" content="Translate English into Piglatin")
    meta(name="author" content="Dmitriy Granyov")
    title Pig Latin Translator
    // Favicon
    link(rel=FAVICON.rel href=FAVICON.href type=FAVICON.type)
    // Bootstrap CSS 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    // Custom css
    link(rel="stylesheet" href="css/style.css")
  body
    header.header
      .container
        h1.logo # pig latin
        hr
        p translator
    main.main
      .container
        .piglatin
          textarea.piglatin__textarea
          .piglatin__text
          .piglatin__buttons
            button.btn.btn-lg.btn__piglify.button(data-type="piglify") to pig
            button.btn.btn-lg.btn__englify.button(data-type="englify") to eng
    footer.footer
      .container
        hr
        p
          a.link(href="https://gitlab.com/syr1ken") @syr1ken
    // Bootstrap + JQ
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
    // Font Awesome
    script(src="https://kit.fontawesome.com/4ebe998a10.js" crossorigin="anonymous")
    // Custom scripts
    script(src="js/app.js")
