doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="author" content="Dmitriy Granyov")
    meta(name="description" content="Simple Java Script Solution For DOM Array Methods Project")
    meta(name="keywords" content="Java Scripts, JS, js, java script, javascript, JavaScript")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title DOM Array Methods
  body
    h1.title DOM Array Methods
    .container
      aside.aside
        button.btn.add-person Add Person
        button.btn.double Double Money
        button.btn.show_millionaries Show Millionaries
        button.btn.sort Sort By Richest
        button.btn.calc_wealth Calculate Wealth
      main.main
        h2.main__title
          strong Person
          | Wealth
        .persons
        .total