:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --bg: rgb(249, 250, 251);
  --text: rgb(119, 119, 119);
  --border: rgb(240, 240, 240);
  --success: rgb(46, 204, 113);
  --error: rgb(231, 76, 60);
  --button: rgb(52, 152, 219);
  --button-hover: rgb(62, 169, 240);
  --button-active: rgb(48, 140, 201);
}
