/**
  * The designs were created to the following widths:
    - Mobile: 375px
    - Desktop: 1440px
  * Typography
    - Font size: 16px
*/

@import "./_normalize.css";
@import "./_fonts.css";
@import "./_variables.css";
@import "./_base.css";
@import "./wrapper/wrapper.css";
@import "./form/form.css";
@import "./form/__title/form__title.css";
@import "./form/__control/form__control.css";
@import "./form/__label/form__label.css";
@import "./form/__input/form__input.css";
@import "./form/__error/form__error.css";
@import "./button/button.css";
