// Const
- const FAVICON = {href: 'img/favicon-32x32.png', type: 'image/x-icon', rel: 'shortcut icon'}

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <meta name="keywords" content="HTML, Pug, CSS, Sass, Bootstrap, Webpack, ES6, Babel">
    meta(name="description" content="Check the weather")
    meta(name="author" content="Dmitriy Granyov")
    title Weather App
    // Favicon
    link(rel=FAVICON.rel href=FAVICON.href type=FAVICON.type)
  body
    header.header
      .container
        h1.logo # weather app
        hr
        p check the weather
    main.main
      .container
        form.search
          label.search__label search for city
          input.search__input
        hr
        p.error
        .loader__container
        .main__content
          .forecast
          .week
            h2.week__title Week
            hr
            .week__list
          
    footer.footer
      .container
        hr
        p
          a.link(href="https://gitlab.com/syr1ken") @syr1ken
