//- Mixins
mixin menu(link)
  li.menu__item
    a.menu__link(href="#")=link.text

mixin benefits(benefit)
  li.benefits__item=benefit.text

doctype html
html(lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(charset="UTF-8")
    meta(name="author" content="Dmitriy Granyov")
    meta(name="description", content="Simple Java Script Solution For Menu Slider & Modal Landing Page")
    title Menu Slider Modal Landing Page
  body
    nav.nav
      .logo
        img.logo__img(src="https://randomuser.me/api/portraits/men/74.jpg" alt="user")
      - const links = []
      - links.push({text: "Home"})
      - links.push({text: "Portfolio"})
      - links.push({text: "Blog"})
      - links.push({text: "Contact Me"})
      ul.menu
        each link in links
          +menu(link)
    header.header
      button.toggle
        i.fas.fa-bars
      h1.title Menu Slider Modal Landing Page
      p.subtitle Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit eos ea magnam quidem, dicta obcaecati adipisci tempore.
      button.btn.cta Sign Up
    .container
      section.main
      h2.main__title What is this landing page about?
      p.main_text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque rerum officia tempore cum quae ea vero ex laborum sed, iure sapiente necessitatibus doloremque eligendi repellat voluptatibus. Facilis, iusto qui.
      p.main__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel facilis maxime ex quae fugit assumenda dolore nemo? Error, nobis suscipit!
      section.second
        h2 Tell Me More
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium eaque nobis asperiores minima earum. Temporibus et, assumenda omnis velit porro commodi officia inventore illum fuga, maxime magni cupiditate dicta quibusdam.
      section.benefits
        h2.benefits__title Benefits
        - const benefits = []
        - benefits.push({text: "Lifetime Access"})
        - benefits.push({text: "30 Day Money Back"})
        - benefits.push({text: "Tailored Customer Support"})
        ul.benefits__list
          each benefit in benefits
            +benefits(benefit)
        p.benefits__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia repellat quam corrupti. Earum corporis cumque reiciendis illum cupiditate repellat velit eius in nesciunt consequatur dolorem ipsa ex ratione vitae asperiores voluptas, aperiam eum ipsum quibusdam adipisci rerum odit. Corporis hic illum voluptatem voluptatibus natus magni praesentium blanditiis suscipit beatae quas?
    // Modal
    .modal__container
      .modal
        button.close
          i.fas.fa-times
        h3.modal__header Sign Up
        .modal__content
          p.modal__text Register with us to get offers, support and more
          form.form
            .form__group
              label.form__label(for="name") Name
              input.form__input(name="name" type="text" placeholder="Enter Name")
            .form__group
              label.form__label(for="email") Email
              input.form__input(name="email" type="email" placeholder="Enter Email")
            .form__group
              label.form__label(for="password") Password
              input.form__input(name="password" type="password" placeholder="Enter Password")
            .form__group
              label.form__label(for="confirm") Confirm Password
              input.form__input(name="confirm" type="password" placeholder="Confirm Password")
            input.btn(name="submit" type="submit" value="Submit")

