body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  font-family: "Lato-Regular", sans-serif;
  font-size: 1rem;
  color: var(--white);
}
