:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --bg: rgb(36, 35, 51);
  --seatBg: rgb(68, 68, 81);
  --selected: rgb(111, 234, 246);
  --occupied: rgb(255, 255, 255);
  --text: rgb(119, 119, 119);
}
