/**
  * The designs were created to the following widths:
    - Mobile: 375px
    - Desktop: 1440px
  * Typography
    - Font size: 16px
*/

@import "./_normalize.css";
@import "./_fonts.css";
@import "./_variables.css";
@import "./_base.css";
@import "./selected-box/selected-box.css";
@import "./selected-box/select-box__select.css";
@import "./showcase/showcase.css";
@import "./showcase/showcase__item.css";
@import "./showcase/showcase__seat.css";
@import "./showcase/showcase__small.css";
@import "./seat/seat.css";
@import "./theater/theater.css";
@import "./theater/theater__row.css";
@import "./screen/screen.css";
@import "./total/total__count.css";
@import "./total/total__money.css";
