body {
  font-family: "RedHatDisplay-Medium", sans-serif;
  background-color: var(--bg);
  font-size: 1rem;
  line-height: 26px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  height: 100vh;
}
