@font-face {
  font-family: "RedHatDisplay-Medium";
  src: url("../fonts/RedHatDisplay-Medium.woff2") format("woff2"),
    url("../fonts/RedHatDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RedHatDisplay-Black";
  src: url("../fonts/RedHatDisplay-Black.woff2") format("woff2"),
    url("../fonts/RedHatDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
