/**
  * The designs were created to the following widths:
    - Mobile: 375px
    - Desktop: 1440px
  * Typography
    - Font size: 16px
*/

@import "./_normalize.css";
@import "./_fonts.css";
@import "./_variables.css";
@import "./_base.css";
@import "./container/container.css";
@import "./title/title.css";
@import "./figure/figure__container.css";
@import "./figure/figure__part.css";
@import "./game/game.css";
@import "./wrong-letters/wrong-letters.css";
@import "./word/word.css";
@import "./letter/letter.css";
@import "./popup/popup__container.css";
@import "./popup/popup.css";
@import "./play/play.css";
@import "./notification/notification__container.css";
@import "./notification/notification.css";
@import "./figure/figure--active.css";
@import "./notification/notification--show.css";
@import "./popup/popup--active.css";
