.play {
  border: none;
  cursor: pointer;
  background-color: var(--white);
  color: var(--border);
  margin-top: 20px;
  padding: 12px 20px;
  text-transform: uppercase;
}

.play:focus {
  outline: 0;
}

.play:active {
  color: var(--black);
  transform: scale(0.98);
}

@media (hover: hover) and (pointer: fine) {
  .play:hover {
    color: var(--black);
  }

  .play:active {
    color: var(--border);
  }
}
