.modal {
  position: absolute;
  overflow: hidden;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 340px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

@media (min-width: 768px) {
  .modal {
    width: 400px;
  }
}
