@font-face {
  font-family: 'SourceCodePro-Regular';
  src: url("../fonts/SourceCodePro-Regular.eot");
  src: url("../fonts/SourceCodePro-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/SourceCodePro-Regular.woff2") format('woff2'), url("../fonts/SourceCodePro-Regular.woff") format('woff'), url("../fonts/SourceCodePro-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'SourceCodePro-Regular', sans-serif;
  font-size: 62.5%;
  color: #434343;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
body * {
  font-size: 1rem;
}
*:focus {
  outline: 0 !important;
  -webkit-outline: 0 !important;
  -moz-outline: 0 !important;
  -ms-outline: 0 !important;
  -o-outline: 0 !important;
}
.link {
  text-decoration: none;
  color: #ea4335;
}
.link:hover {
  color: #ea4335;
  text-decoration: none;
}
.link:focus {
  color: #ea4335;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.2rem;
}
.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.container {
  padding: 0 3%;
}
.btn-roll,
.select {
  height: 3.5rem;
  width: 6rem;
}
.btn-roll {
  margin-left: 1rem;
  border: 1px solid #ea4335;
  color: #ea4335;
  transition: all 0.2s ease-out;
}
.header {
  margin-top: 1rem;
}
.header .logo {
  color: #ea4335;
}
.header hr {
  margin: 0;
}
.header p {
  margin-top: 0.1rem;
  text-align: right;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-title {
  margin-top: 4rem;
  margin-bottom: 5rem;
  color: #696969;
}
.dice {
  position: relative;
}
.dice__number {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: #ea4335;
}
.roll_group {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
}
.footer p {
  text-align: center;
  color: #ea4335;
}
.red {
  color: #ea4335 !important;
}
.green {
  color: #7cbb00 !important;
}
.blue {
  color: #00a1f1 !important;
}
.yellow {
  color: #fb0 !important;
}
.red-active {
  color: #ea4335 !important;
  border-color: #ea4335 !important;
}
.red-active:active {
  background-color: #ea4335 !important;
  color: #000 !important;
}
.green-active {
  border-color: #7cbb00 !important;
  color: #7cbb00 !important;
}
.green-active:active {
  background-color: #7cbb00 !important;
  color: #000 !important;
}
.blue-active {
  border-color: #00a1f1 !important;
  color: #00a1f1 !important;
}
.blue-active:active {
  background-color: #00a1f1 !important;
  color: #000 !important;
}
.yellow-active {
  border-color: #fb0 !important;
  color: #fb0 !important;
}
.yellow-active:active {
  background-color: #fb0 !important;
  color: #000 !important;
}
@media (hover: hover) and (pointer: fine) {
  .red-active:hover {
    background-color: #ea4335 !important;
    color: #fff !important;
  }
  .red-active:active {
    background-color: #ea4335 !important;
    color: #000 !important;
  }
  .green-active:hover {
    background-color: #7cbb00 !important;
    color: #fff !important;
  }
  .green-active:active {
    background-color: #7cbb00 !important;
    color: #000 !important;
  }
  .blue-active:hover {
    background-color: #00a1f1 !important;
    color: #fff !important;
  }
  .blue-active:active {
    background-color: #00a1f1 !important;
    color: #000 !important;
  }
  .yellow-active:hover {
    background-color: #fb0 !important;
    color: #fff !important;
  }
  .yellow-active:active {
    background-color: #fb0 !important;
    color: #000 !important;
  }
}
