// Fonts
@font-face
  font-family: 'SourceCodePro-Regular'
  src: url('../fonts/SourceCodePro-Regular.eot')
  src: url('../fonts/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceCodePro-Regular.woff2') format('woff2'), url('../fonts/SourceCodePro-Regular.woff') format('woff'), url('../fonts/SourceCodePro-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

// Font mixin
@mixin font ($font: 'sans-serif', $fz: 1rem)
  font-family: $font, sans-serif
  font-size: $fz

// Base
html, body
  height: 100%

body
  @include font('SourceCodePro-Regular', 62.5%)
  color: $text
  display: flex
  flex-direction: column
  min-height: 100%

body
  *
    font-size: 1rem

*:focus
  outline: 0 !important
  -webkit-outline: 0 !important
  -moz-outline: 0 !important
  -ms-outline: 0 !important
  -o-outline: 0 !important

.link
  text-decoration: none
  color: $pig
  &:hover
    color: $pig
    text-decoration: none
  &:focus
    color: $pig

ul, ol
  margin: 0
  padding: 0

h1
  font-size: 1.8rem

// Buttons
.btn
  margin: 0 0.5rem
  width: 10rem
  height: 3rem
  transition: all 0.2s ease-out
  &__piglify
    border: 1px solid $pig
    color: $pig
    &:active
      color: $text
      background-color: transparent
  &__englify
    border: 1px solid $light-gray
    color: $light-gray
    &:active
      color: $light-gray

.main
  flex: 1 0 auto

.footer
  flex: 0 0 auto

.container
  padding: 0 3%

  // Buttons
  .btn
    width: 7rem

@media (hover: hover) and (pointer: fine)
  // Buttons
  .btn
    &__piglify
      &:hover
        color: $white
        background-color: $pig
      &:active
        color: $text
        background-color: transparent
    &__englify
      &:hover
        color: $light-gray
      &:active
        color: $light-gray
