// Header
.header
  margin-top: 1rem
  .logo
    color: $pig
  hr
    margin: 0
  p
    margin-top: 0.1rem
    text-align: right

// Main
.piglatin
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 5rem
  &__textarea
    width: 100%
    max-width: 70%
    height: 10rem
    padding: 1rem
    resize: none
    border: 1px solid $pig
    border-radius: 1rem
  &__text
    padding: 2rem 0
    width: 100%
    word-break: break-all
    text-align: center
  &___buttons
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center

// Footer
.footer
  p
    text-align: center

@media (max-width: $medium)
  // Main
  .piglatin
    &__textarea
      max-width: 100%
