// Animations
@keyframes heartB {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.1);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.1);
  }
  0% {
    transform: scale(1);
  }
}

.heartB {
  -webkit-animation-name: heartB;
  animation-name: heartB;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

// Fonts
@font-face {
  font-family: 'SourceCodePro-Regular';
  src: url('../fonts/SourceCodePro-Regular.eot');
  src: url('../fonts/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceCodePro-Regular.woff2') format('woff2'), url('../fonts/SourceCodePro-Regular.woff') format('woff'), url('../fonts/SourceCodePro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Base
html, body {
  height: 100%;
}

body {
  .fontMix('SourceCodePro-Regular', 62.5%);
  color: @text;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


body {
  * {
    font-size: 1rem;
  }
}

*:focus {
  outline: 0 !important;
  -webkit-outline: 0 !important;
  -moz-outline: 0 !important;
  -ms-outline: 0 !important;
  -o-outline: 0 !important;
}


.link {
  text-decoration: none;
  color: @purple;
  &:hover {
    color: @purple;
    text-decoration: none;
  }
  &:focus {
    color: @purple;
  }
}


ul, ol {
  margin: 0;
  padding: 0;
}


h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.2rem;
}

.main {
  flex: 1 0 auto;
}

.footer  {
  flex: 0 0 auto;
}

.container {
  padding: 0 3%;
}
