// Header
.header {
  margin-top: 1rem;
  hr {
    margin: 0;
  }
  p {
    margin-top: 0.1rem;
    text-align: right;
  }
}

.logo {
  color: @purple;
}

// Main
.main {
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-title {
    margin-top: 4rem;
    margin-bottom: 5rem;
    color: lighten(@text, 20%);
    text-align: center;
  }
}

// Heart
.heart {
  position: relative;
  &__icon {
    color: @purple;
    font-size: 16rem;
    &:hover {
      cursor: pointer;
    }
  }
  &__result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: @white;
    pointer-events: none;
    user-select: none;
    font-size: 3.5rem;
  }
}

.text__result {
  max-width: 85%;
  padding: 2rem 0;
  user-select: none;
  text-align: center;
}

// Form
.form {
  display: flex;
  flex-direction: row;
  &-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-input {
    width: 12rem;
    height: 2.5rem;
    padding: 0 1rem;
    &:last-child {
      margin-left: 1rem;
    }
  }
}

// Footer
.footer {
  p {
    text-align: center;
    color: @purple;
  }
}

@media (max-width: @small) {
  // Heart
  .heart {
    &__icon {
      font-size: 12rem;
    }
    &__result {
      font-size: 2.5rem;
    }
  }

  // Form
  .form {
    flex-direction: column;
    &-input {
      &:last-child {
        margin-left: 0;
      }
    }
  }
}
