.nav {
  position: fixed;
  background-color: var(--primary);
  border-right: 2px solid var(--nav-border);
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  z-index: 100;
  transform: translateX(-100%);
}

@media (min-width: 768px) {
  .nav {
    height: 100vh;
  }
}
