.btn {
  color: var(--white);
  border: 0;
  background-color: var(--primary);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  background-color: var(--primaryDark);
}

@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    background-color: var(--primaryDark);
  }

  .btn:active {
    background-color: var(--primary);
  }
}
